h1 {
  font-family: sans-serif;
}

img {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 15px;
}

.grid-one {
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 20px;
  display: flex;


  ion-item {
    color: white;

    .item-one {
      width: 100px;
      height: 85px;
      border-top-left-radius: 70px;
      background-color: #88D2EF;
      flex-direction: column;
      display: flex;
      align-items: center;
      justify-content: center;

      ion-icon {
        color: #565353;
        font-size: 1.8rem;
      }

      ion-label {
        color: #565353;
        font-size: 0.8rem;
        padding: 1px;
      }

    }
  }

  ion-item {
    color: white;

    .item-two {
      width: 100px;
      height: 85px;
      border-top-right-radius: 70px;
      background-color: #FFFF67;
      flex-direction: column;
      display: flex;
      align-items: center;
      justify-content: center;

      ion-icon {
        color: #565353;
        font-size: 1.8rem;
      }

      ion-label {
        color: #565353;
        font-size: 0.8rem;
        padding: 1px;
      }
    }
  }
}


.grid-two {
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 8px;
  display: flex;

  ion-item {
    color: white;
    margin-left: 1px;
  .item-three {
    width: 100px;
    height: 85px;
    border-bottom-left-radius: 70px;
    background-color: #FFBD97;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;

    ion-icon {
      color: #565353;
      font-size: 1.8rem;
    }

    ion-label {
      color: #565353;
      font-size: 0.8rem;
      padding: 1px;
    }
  }
}

ion-item {
  color: white;
  .item-four {
    width: 100px;
    height: 85px;
    border-bottom-right-radius: 70px;
    background-color: #CBAFED;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;

    ion-icon {
      color: #565353;
      font-size: 1.8rem;
    }

    ion-label {
      color: #565353;
      font-size: 0.8rem;
      padding: 1px;
    }
  }
}
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.container h2 {
  font-weight: bold;
  ;
}

.container img {
  width: 100px;
  height: 100px;
  margin-top: 5px;
  margin-bottom: 5px;
}




