h1{
  font-family: sans-serif;
}

img{
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 15px;
}

ion-grid{
  margin-top: 15px;
  margin-bottom: 15px;
}


.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.container h2{
  font-weight: bold; ;
}

.container img {
  width: 100px;
  height: 100px;
  margin-top: 5px;
  margin-bottom: 5px;
}

ion-button {
  size: 5px;

}

ion-title {
  font-style: normal;
}
