h1 {
  font-family: sans-serif;
}

img {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 15px;
}

.grid-one {
  padding-top: 20px;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 10px;
  display: flex;


  ion-item {
    color: white;

    .item-one {
      width: 120px;
      height: 100px;
      border-top-left-radius: 70px;
      background-color: #88D2EF;
      flex-direction: column;
      display: flex;
      align-items: center;
      justify-content: center;

      ion-icon {
        color: #565353;
        font-size: 2.5rem;
      }

      ion-label {
        color: #565353;
        font-size: 1rem;
        padding: 4px;
      }

    }
  }

  ion-item {
    color: white;

    .item-two {
      width: 120px;
      height: 100px;
      border-top-right-radius: 70px;
      background-color: #FFFF67;
      flex-direction: column;
      display: flex;
      align-items: center;
      justify-content: center;

      ion-icon {
        color: #565353;
        font-size: 2.5rem;
      }

      ion-label {
        color: #565353;
        font-size: 1rem;
        padding: 4px;
      }
    }
  }
}


.grid-two {
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;

  ion-item {
    color: white;
  .item-three {
    width: 115px;
    height: 100px;
    border-bottom-left-radius: 70px;
    background-color: #FFBD97;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;

    ion-icon {
      color: #565353;
      font-size: 2.7rem;
    }

    ion-label {
      color: #565353;
      font-size: 1rem;
      padding: 4px;
    }
  }
}

ion-item {
  color: white;
  .item-four {
    width: 115px;
    height: 100px;
    border-bottom-right-radius: 70px;
    background-color: #CBAFED;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;

    ion-icon {
      color: #565353;
      font-size: 2.7rem;
    }

    ion-label {
      color: #565353;
      font-size: 1rem;
      padding: 4px;
    }
  }
}
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.container h2 {
  font-weight: bold;
  ;
}

.container img {
  width: 100px;
  height: 100px;
  margin-top: 5px;
  margin-bottom: 5px;
}




