<!-- App top bar -->

<ion-header [translucent]="true">
  <ion-toolbar color="sola-yellow">
    <ion-buttons slot="end">
      <ion-menu-button > </ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{title}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- ******************* SEARCH BAR ******************* -->
  <ion-searchbar placeholder="Search" animated size="large"></ion-searchbar>
  <!-- -------------------------------------------------- -->

  <!-- **************** USER NAME + PIC **************** -->
  <div class="container">

    <h2>Alex Hayes</h2>
    <img src="../assets/IconPicture.svg" style="width:130px;height:130px;">

  </div>

  <!-- -------------------------------------------------- -->

  <!-- ***************** HOME PAGE GRID ***************** -->

  <!-- Round -->



  <ion-card>

    <ion-grid>
      <ion-row class="ion-text-center" lines="full">
        <ion-col size="6" routerLink="/page1">
          <ion-button color="sola-blue">
            <ion-icon size="large" name="walk-outline" color="sola-dark-grey"></ion-icon>
          </ion-button>
          <p>Comming</p>
        </ion-col>

        <ion-col size="6" routerLink="/page2">
          <ion-button color="sola-yellow">
            <ion-icon size="large" name="flag-outline" color="sola-dark-grey"></ion-icon>
          </ion-button>
          <p>My Territory</p>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- </ion-card>
  <ion-card> -->

    <ion-grid>
      <ion-row class="ion-text-center">
        <ion-col size="6" routerLink="/page1">
          <ion-button color="sola-pink">
            <ion-icon size="large" name="paper-plane-outline" color="sola-dark-grey"></ion-icon>
          </ion-button>
          <p>Going</p>
        </ion-col>

        <ion-col size="6" routerLink="/page2">
          <ion-button color="sola-purple">
            <ion-icon size="large" name="help-buoy-outline" color="sola-dark-grey"></ion-icon>
          </ion-button>
          <p>S.O.S</p>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-card>

</ion-content>



<!-- -------------------------------------------------- -->


<!-- Plus Button to Access More Options / List on the left -->

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button size="small" color="sola-pink">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="start">
    <ion-fab-button color="sola-pink">
      <ion-icon name="settings-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="sola-pink">
      <ion-icon name="help-buoy"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="sola-pink">
      <ion-icon name="search"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>

<!-- -------------------------------------------------- -->


<!-- <ion-searchbar placeholder="Search" animated></ion-searchbar> -->
