<!-- App top bar -->

<ion-header [translucent]="true" mode="ios">
  <ion-toolbar color="sola-yellow">
    <ion-buttons slot="end">
      <ion-menu-button> </ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{title}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- ******************* SEARCH BAR ******************* -->
  <ion-searchbar placeholder="Search" animated="true"></ion-searchbar>
  <!-- -------------------------------------------------- -->

  <!-- **************** USER NAME + PIC **************** -->
  <div class="container">

    <h2 style="color:#565353">Alex Hayes</h2>
    <img src="../assets/IconPicture.svg" style="width:130px;height:130px;">

  </div>

  <!-- -------------------------------------------------- -->

  <!-- ***************** HOME PAGE GRID ***************** -->




  <div class="grid-one">

    <ion-item button lines="none" detail="false"  routerLink="/tab3">
    <div class="item-one">
        <ion-icon name="subway"></ion-icon>
        <ion-label>coming</ion-label>
    </div>
  </ion-item>

  <ion-item button lines="none" detail="false" routerLink="/tab3">
    <div class="item-two">
      <ion-icon name="flag"> </ion-icon>
      <ion-label>my territory</ion-label>
    </div>
  </ion-item>
  </div>

  <div class="grid-two">
    <ion-item button lines="none" detail="false" routerLink="/tab3">
    <div class="item-three">
      <ion-label>going</ion-label>
      <ion-icon name="paper-plane"> </ion-icon>
    </div>
    </ion-item>
    <ion-item button lines="none" detail="false" routerLink="/tab3">
    <div class="item-four">
      <ion-label>s.o.s</ion-label>
      <ion-icon name="help-buoy"> </ion-icon>
    </div>
    </ion-item>
  </div>

<!-- Plus Button to Access More Options / List on the left -->

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button size="small" color="sola-pink">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="start">
    <ion-fab-button color="sola-pink">
      <ion-icon name="settings-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="sola-pink">
      <ion-icon name="help-buoy"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="sola-pink">
      <ion-icon name="search"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>

<!-- -------------------------------------------------- -->


<!-- <ion-searchbar placeholder="Search" animated></ion-searchbar> -->
