//App bar of the app (tabs)

<ion-header [translucent]="true">
  <ion-toolbar color="sola-yellow">
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>

  </ion-header>

  <div class="container">

    <h2>Alex Hayes</h2>
    <img src="../assets/IconPicture.svg">

  </div>

</ion-content>


<!-- search icon - fab placed to the top and end and on the top edge of the content overlapping header
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="search"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->

<!-- fab placed to the bottom and start and on the bottom edge of the content overlapping footer with a list to the right -->
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button color="dark">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="start">
    <ion-fab-button>
      <ion-icon name="settings-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-button>
      <ion-icon name="help-buoy"></ion-icon>
    </ion-fab-button>
    <ion-fab-button>
      <ion-icon name="search"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>



<!-- <ion-searchbar placeholder="Search" animated></ion-searchbar> -->
