h1{
  font-weight: bold;
  font-size: 1.5rem;
}

h2{
  font-weight: bold;
  font-size: 1rem;
}

p{
  font-size: 0.8rem;
}

p + p {
 color: #565353;
}

img{
  display: inline-block;
  vertical-align: middle;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.container h2{
  font-weight: bold; ;
}

.container img {
  width: 100px;
  height: 100px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.container p{
  margin-top: 0px;
  margin-bottom: 0px;
}

.ion-label{
  margin-top: 2px;
  margin-bottom: 2 px;
}

ion-icon {
  font-size: 20px;
  margin: 5px;
}
