<ion-header [translucent]="true">
  <ion-toolbar color="sola-yellow">
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="sola-yellow">
      <ion-title size="large">Profile</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">

    <h1>Alex Hayes</h1>
    <p>“The journey is my home”</p>
    <p> Muriel Rukeyser </p>
    <img src="../assets/IconPicture.svg">

  </div>

  <!-- ************ List of Interests ************ -->

  <ion-list>
    <ion-item color="sola-pink">
      <ion-label >
        Interests
      </ion-label>
      <div>
        <ion-icon name="bicycle-outline" slot="start"> </ion-icon>
        <ion-icon name="beer-outline"> </ion-icon>
        <ion-icon name="musical-note-outline"> </ion-icon>
      </div>

    </ion-item>
  </ion-list>

  <!-- -------------------------------------------- -->

  <!-- ************ Profile Information ************ -->

  <ion-item button (click)="buttonClick()" detail color="sola-yellow">
    <ion-label>
      My Territory
    </ion-label>
  </ion-item>

  <ion-item button (click)="buttonClick()" detail color="sola-purple">
    <ion-label>
      Where I have been
    </ion-label>
  </ion-item>

  <ion-item button (click)="buttonClick()" detail color="sola-blue">
    <ion-label>
      Where I want to go
    </ion-label>
  </ion-item>

  <!-- -------------------------------------------- -->

  <!-- Plus Button to Access More Options / List on the left -->

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button size="small" color="sola-pink">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button color="sola-pink">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="sola-pink">
        <ion-icon name="help-buoy"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="sola-pink">
        <ion-icon name="search"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <!-- -------------------------------------------- -->

</ion-content>
