<!-- App top bar -->

<ion-header [translucent]="true" mode="ios">
  <ion-toolbar color="sola-yellow">
    <ion-buttons slot="end">
      <ion-menu-button> </ion-menu-button>
    </ion-buttons>
    <ion-title>
      View-Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-content>
    <div class="image-slider">
      <ion-icon name="arrow-back-outline" class="arrow-left" routerLink="/connections"></ion-icon>
      <ion-slides pager="true">
        <ion-slide>
          <img src="/assets/trav3.png">
        </ion-slide>
        <ion-slide>
          <img src="/assets/trav2.png">
        </ion-slide>
        <ion-slide>
          <img src="/assets/trav1.png">
        </ion-slide>
      </ion-slides>
    </div>
    <div class="profile-info">
      <div class="user-info">
        <div class="basic-info">
          <h1>Olivia</h1>
          <h3>
            <ion-icon name="location-outline"></ion-icon> 2km
          </h3>
          <p>
            <ion-icon name="flag"></ion-icon> From London </p>
            <p><ion-icon name="airplane"></ion-icon> 13 Countries </p>

        </div>
        <ion-icon name="share-social-outline" class="share-icon"></ion-icon>
      </div>
      <div class="about-me">
        <h5>About Me</h5>

        <p *ngIf="!isSeeMore">
          {{('Hi, I am Olivia. I am 23 years old and lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.').substring(0,100)}}
          <span (click)="isSeeMore = true">...</span>
          <span class="more-less">&nbsp; See more</span>
        </p>
        <p *ngIf="isSeeMore">
          {{('Hi, I am Olivia. I am 23 years old and lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.')}}
          <span class="more-less" (click)="isSeeMore = false">&nbsp; See less</span>
        </p>
      </div>

      <div class="my-hobbies">
        <h5>My Hobbies</h5>
        <div class="hobbies-list">
          <ion-chip *ngFor="let hobby of hobbies;let i = index" [ngStyle]="{'background-color': getColor(i)}">
            <ion-label>{{hobby}}</ion-label>
          </ion-chip>
        </div>
      </div>
      <ion-footer class="action-buttons">
        <div class="accept-reject reject"><ion-icon name="close-outline"></ion-icon></div>
        <div class="accept-reject accept"><ion-icon name="heart-outline"></ion-icon></div>
      </ion-footer>
    </div>
  </ion-content>
