<ion-header [translucent]="true">
  <ion-toolbar color="sola-yellow">
    <ion-buttons slot="end">
      <ion-menu-button > </ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{title}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list [hidden]="!addressList.length">
    <ion-item button *ngFor="let place of addressList" lines="full" (click)="traceRoute(place)">
      {{place.description}}
    </ion-item>

  </ion-list>
  <div #map id="map"></div>
</ion-content>



<!-- Plus Button to Access More Options / List on the left -->

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button size="small" color="sola-pink">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="start">
    <ion-fab-button color="sola-pink">
      <ion-icon name="settings-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="sola-pink">
      <ion-icon name="help-buoy"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="sola-pink">
      <ion-icon name="search"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>

<!-- -------------------------------------------- -->
